@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Inter:wght@400;500&display=swap");

@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  width: 420px;
  height: 400px;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

code {
  font-family: "JetBrains Mono", monospace;
}

html {
  padding: 0;
  margin: 0;
}
